// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

// auto-section

.home-section-style {}

// home-section-style
.price-hero-section-style {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: $theme-primary;
  padding-bottom: 100px;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 250px;
    left: -20%;
    width: 100%;
    height: 100%;
    content: '';
    background: url('../../static/images/illustration/lines-left.svg');
    background-repeat: no-repeat;
  }

  &::after {
    position: absolute;
    top: -130px;
    right: 70px;
    width: 100%;
    height: 100%;
    content: '';
    background: url('../../static/images/illustration/lines.svg');
    background-repeat: no-repeat;
    background-position: right;
    transform: scale(1.1);
  }

  .content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 20px;
  }

  .title1 {
    color: $white;
    text-align: center;
    font-size: 48px;
    margin-bottom: 0;
  }

  .subtext {
    color: $white;
    text-align: center;
    font-size: 20px;
    line-height: 38px;
    opacity: 0.7;
    font-weight: 500;
  }

  .ant-input {
    height: 57px;
    background-color: rgba($white, 0.2);
    border-radius: 6px;
    border: none;
    min-width: 354px;
    font-size: 16px;
    margin-right: 10px;

    &::placeholder {
      color: rgba($white, 0.6);
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: rgba($white, 0.6);
    }

    &::-ms-input-placeholder {
      color: rgba($white, 0.6);
    }
  }

  .input-inline-style {
    display: flex;
    align-items: center;
  }

  .image-hero {
    height: 500px;
    width: 80%;
    position: relative;
    z-index: 1;
    filter: drop-shadow(0px 0px 1px rgba(12, 26, 75, 0.1)) drop-shadow(0px 30px 40px rgba(20, 37, 63, 0.08));

    &::before {
      position: absolute;
      top: -50px;
      right: -80px;
      width: 100px;
      height: 100px;
      content: '';
      border-radius: 100%;
      background: #C5DFFF;
    }

    img {
      width: 100%;
    }

    .img-style {
      position: relative;
      z-index: 1;
    }
  }

  .dotted-style {
    position: absolute;
    top: 0;
    left: 0;
  }

  .circle-image-sec {
    position: absolute;
    top: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    &::before {
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: url('../../static/images/illustration/ellipse-1.svg');
      background-repeat: no-repeat;
    }

    &::after {
      position: absolute;
      top: 50px;
      right: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: url('../../static/images/illustration/ellipse-2.svg');
      background-repeat: no-repeat;
      background-position: right;
    }

    .circle-style {}
  }

  .swittch-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
    margin-bottom: 100px;
    position: relative;
    z-index: 9;

    span {
      font-weight: 700;
    }
  }

  .ant-switch {
    margin: 0 30px;
    background-color: rgba(#30327B, 0.5);
    min-width: 56px;
    height: 24px;
  }

  .ant-switch-handle::before {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)), #D61A1E;
  }

  .ant-switch-checked {
    background-color: #30327B;
  }

  .ant-switch-handle {
    top: 3px;
  }


  // Pricing Card style here
  .pricing-card-style {
    background: $white;
    border-radius: 24px;
    padding: 30px;


    .title-sec {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .title4 {
      margin-bottom: 0;
      font-weight: 700;
    }

    .price-list {
      list-style: none;
      padding-left: 0;

      li {
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        &::before {
          display: block;
          content: '';
          width: 30px;
          height: 30px;
          background: url('../../static/images/icons/tick.svg') no-repeat;
        }
      }
    }

    .save {
      border-radius: 4px;
      background-color: $white;
      width: 82px;
      height: 30px;
      color: #E2592B;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .price-text {
      font-size: 25px;
      font-weight: 700;

      span {
        font-size: 17px;
        font-weight: normal;
      }
    }

    .button-theme {
      width: 100%;
      margin-top: 20px;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #5F65F6;
      border-radius: 8px;
      color: $theme-primary;
      font-weight: 500;
    }

    &.price-pro-style {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), #5F65F6;
      color: $white;
      margin-top: -20px;

      .title4 {
        color: $white;
      }

      .button-theme {
        background: $theme-primary;
        color: $white;
        font-weight: 600;
        font-size: 20px;
      }

      li {

        &::before {
          filter: contrast(0) brightness(100);
        }
      }
    }

  }
}

.benefits-section-style {
  padding: 80px 0;

  .card-tracker {
    box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.1), 0px 10px 16px rgba(20, 37, 63, 0.06);
    border-radius: 22px;
    padding: 30px;
  }

  .icon-sec {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .title4 {
      font-size: 18px;
      margin-left: 10px;
    }
  }

  .icon-box {
    display: flex;
    align-items: center;

    img {
      transform: scale(0.8);
    }

    .img-style {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:nth-child(1) {

      .img-style {
        background: $theme-primary;
      }
    }

    &:nth-child(2) {

      .img-style {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)), #148453;
      }
    }

    &:nth-child(3) {

      .img-style {
        background: #FFC659;
        ;
      }
    }
  }
}

.accordian-section {
  padding: 80px 0;
  background: #F8F9FA;

  .title3 {
    text-align: center;
    margin-bottom: 30px;
  }

  .ant-collapse {
    border: none;
    background: none;
  }

  .ant-collapse-header {
    height: 72px;
    align-items: center !important;
    display: flex;
    padding: 0 20px;
    font-weight: 500;
    font-size: 16px;
  }

  .ant-collapse-item {
    background: $white;
    box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
    border-radius: 12px !important;
    margin-bottom: 20px;
    overflow: hidden;
    border: none;
    padding: 0 15px;
  }

  .subtext {
    max-width: 70%;
    line-height: 24px;
  }

  .ant-collapse-content {
    border: none;
  }

  .ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow {
    font-size: 14px;
    width: 40px;
    height: 40px;
    background: $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color: $theme-primary;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 18px;
    box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
  }

  .ant-collapse-item-active {
    box-shadow: 0px 6px 16px rgba(74, 58, 255, 0.19);
    border: 1px solid $theme-primary;

    .ant-collapse-arrow {
      background: $theme-primary !important;
      color: $white !important;
    }
  }
}

  // Client Think Style
  .client-think-style {
    padding: 80px 0;
    overflow: hidden;

    .heading {
      display: flex;
      align-items: center;
      justify-content: center;

      .title3 {
        text-align: center;
      }
    }

    .title3 {
      line-height: 45px;

      span {
        color: $theme-primary;
      }
    }

    .description {
      &.light-blue {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #5F65F6;
        border-radius: 8px;
        padding: 20px;
      }
    }

    .text-sec {
      margin-left: 10px;
    }

    .rating {
      margin-top: 0;
      position: relative;
      top: -5px;
    }

    .carousel-slider {
      overflow-x: hidden;
      padding-left: 50px;
      margin-top: 50px;


      &::before {
        position: absolute;
        top: 180px;
        left: 140px;
        width: 579px;
        height: 481px;
        background: #F8F8FF;
        border-radius: 11px;
        content: '';
      }

      .client-card {
        box-shadow: 5px 7px 18px 2px rgba(black, 0.07);
        border-radius: 20px;
        border: 1px solid #E0E7FB;
        background-color: $white;
        padding: 20px;

        .head-sec {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
        }

        .title4 {
          font-size: 18px;
          margin: 0;
        }
      }

      .card-space {
        padding: 10px;
        width: 60%;

        &:nth-child(even) {
          margin-top: 330px;
          left: -200px !important;
          position: relative;
        }
      }

      .flickity-button {
        width: 40px !important;
        height: 40px;
        border-radius: 50%;
        border: none;
        background: $theme-primary;
        margin-right: 10px;
        position: absolute;
        bottom: 14rem;
        cursor: pointer;

        &.previous {
          left: 15rem;
        }

        &.next {
          left: 19rem;
        }

        .flickity-button-icon {
          filter: contrast(0) brightness(100);
          width: 15px;
          position: relative;
          top: 2px;
        }
      }
    }
  }

  // wow-works-style
  .how-works-style {
    padding: 80px 0 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    .card-section {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
    }

    .box-sec {
      width: 540px;
      height: 330px;
      background: linear-gradient(0deg, rgba(0, 19, 37, 0.92), rgba(0, 19, 37, 0.92)), #FFFFFF;
      border-radius: 8px;
      position: relative;
      margin-right: -150px;
    }

    .highlight-sec {
      background: #EFF0FE;
      border-radius: 16px;
      padding: 100px;
      padding-left: 200px;
    }
  }

  // Onetracker section
  .onetracker-style {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #5F65F6;
    padding-top: 50px;

    .title3 {
      font-size: 40px;
    }

    .subtext {
      font-size: 20px;
      line-height: 30px;
    }

    .img-box {
      width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
  }