@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap');

@import "antd/dist/antd.css";

// variables
@import "./variables/colors";
@import "./variables/mixins";

// theme styles files
@import "./xtras";
@import './fonts';

@import '../pages/home/home';
@import '../pages/pricing/pricing';

// custom css
* {
  font-family: 'Inter', sans-serif !important;
}

::selection {
  color: $white !important;
  background: rgba($theme-primary, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $theme-primary-dark;

  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

#root {
  // height: 100%;
}

.app-container {
  position: relative;
  overflow-x: hidden;
}

.d-flex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

// img-white
.img-white {
  filter: contrast(0) brightness(100);
}

.h-100 {
  height: 100%;
}

// d-xs-none
.d-xs-none {

  @include mobile {
    display: none !important;
  }
}

.d-xs-visible {
  display: none;

  @include mobile {
    display: block;
  }
}

.flickity-enabled:focus {
  outline: none;
}

// btn theme
.button-theme {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #5F65F6;
  border: none;
  height: 57px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
}


// title styles
.title1 {
  font-size: 72px;
  line-height: 84px;
  font-weight: 700;
}

.title3 {
  font-size: 32px;
  line-height: 54px;
  font-weight: 700;
}

.title4 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

.subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}


// container style
.container {
  max-width: 80%;
  margin: 0 auto;
}

// Layout Primary

.layout-primary-style {

  .header-section {
    // background: $theme-primary;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

    }
  }

  .button-section {

    .button-white {
      margin-left: 11px;
    }
  }

  .footer-section {
    padding: 50px 0;


    .store-icons {
      display: flex;
      align-items: center;
      margin-top: 50px;

      .store-img {
        margin-right: 10px;
      }
    }

    .social-with-copyright {
      margin-top: 100px;

      .subtext {
        text-align: right;
        font-weight: 500;
      }
    }

    .social-links {
      display: flex;
      align-items: center;

      .icon {
        margin-right: 30px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .links {
      display: flex;
      flex-direction: column;

      a {
        margin-bottom: 25px;
        color: $textColor;
        font-weight: 500;
      }
    }
  }
}

// button-outline
.button-outline {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  color: $white;
  min-width: 158px;
  height: 52px;
  font-size: 16px;
}

.button-white {
  background: $white;
  border-radius: 8px;
  color: $white;
  min-width: 158px;
  height: 52px;
  font-size: 16px;
  color: $theme-primary;
}